<mat-drawer-container class="container">
  <mat-drawer mode="side" closed>Drawer content</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="top-bar">
      <a class="logo" href="">
        <img src="assets/img/logo.svg" />
      </a>      
      <a routerLink="pizzas" class="nav-tab">
        <img src="assets/img/pizza-slice.svg" />
        <div>Get Pizza</div>
      </a>
      <a routerLink="my-orders" class="nav-tab">
        <img src="assets/img/bike.svg" />
        <div>My Orders</div>
      </a>
            
    </mat-toolbar>
    <div class="centred">
      <span class="spacer-vert"></span>
      <button mat-button-raised >Abrir slider</button>          
      <span class="spacer-vert"></span>
      <span class="text-primary">Main content</span>      
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

